*.bak
*.class
*.ear
*.iml
*.ipr
*.iws
*.launch
*.pydevproject
*.swp
*.tmp
*.war
*~.nib
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes
._*
.apdisk
.buildpath
.cproject
.externalToolBuilders/
.gradle
.idea/
.idea_modules/
.loadpath
.metadata
.mtj.tmp/
.settings/
.target
.texlipse
/*.iml
Icon
Network Trash Folder
Temporary Items
atlassian-ide-plugin.xml
bin/
com_crashlytics_export_strings.xml
hs_err_pid*
local.properties
out/
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target/
tmp/
build/
